@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #397dcf 0%, #428cd7 20%, #7bd1e3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  width: 100%;
}

.DateRangePicker_picker {
  z-index: 10;
}