@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.DateRangePicker_picker {
  z-index: 10;
}